# Base URL for FastAPI Backend
VITE_API_BASE_URL=http://localhost:8000/api/v1

# Telegram Bot Username
VITE_TELEGRAM_BOT_USERNAME=MelaShopBot

# Enable mock Telegram WebApp environment for desktop testing
VITE_ENABLE_MOCK_TELEGRAM=true
